

<ion-content>
  <div class="container">
    <p>Lat:{{lat}},Lng:{{lng}}</p>
    <ion-button shape="round" size="large" (click)="Location()">Location</ion-button>
  </div>
  
  <ion-tabs>
      <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="radio"></ion-icon>
        <ion-label>Emergency</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
  </ion-tab-button>
      <ion-tab-button tab="feed">
          <ion-icon name="people"></ion-icon>
          <ion-label>Users</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="send"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="uploader">
        <ion-icon name="send"></ion-icon>
        <ion-label>Upload</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

